main {
  color: var(--backgroundWhite-color);
}

main div#main-img {
  position: relative;
  width: 100%;
}

main div#main-img img {
  filter: brightness(0.5);
  width: 100%;
}

main div#main-img div.intro-text {
  background-color: var(--logoGreen-color);
  color: var(--backgroundWhite-color);
  padding: 2em;
  font-size: 1.2em;
  font-weight: 100;
  text-align: center;
}
main div#main-img div.intro-text p {
  margin: 0.5em;
}

main div#main-img div.fir-img-cont {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

main div#main-img div.sec-img-cont {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

main div#main-img div.sec-img-cont div.main-text {
  padding-bottom: 2em;
}

main div#main-img div.sec-img-cont div.main-text h1 {
  padding: 1em;
  font-size: 1.5em;
}

main div#main-img div.sec-img-cont div.main-text p {
  padding: 0.2em;
  font-size: 1em;
}

main div#main-img div.sec-img-cont div.main-btn a {
  margin: 0 1em 1em 0;
  border-radius: 0.3em;
  border: transparent;
  padding: 0.5em 1em;
  text-decoration-line: none;
  font-size: 1em;
}

main div#main-img div.sec-img-cont div.main-btn a.service-btn {
  color: var(--darkGrey-color);
  background-color: var(--lightGreen-color);
}

main div#main-img div.sec-img-cont div.main-btn a.estimate-btn {
  color: var(--backgroundWhite-color);
  background-color: var(--pointOrange-color);
}

main div#contact img {
  position: relative;
  width: 100%;
}

main div.contact-info {
  color: var(--darkGrey-color);
  text-align: center;
  padding-bottom: 4em;
  color: var(--darkGrey-color);
}
main div.contact-info p {
  font-weight: 100;
  padding: 1em;
  margin: auto;
}
main div.contact-info p.contact-title {
  font-size: 2em;
  padding-bottom: 1em;
}
main div.contact-info a {
  color: var(--pointOrange-color);
  font-weight: 100;
  text-decoration-line: none;
}

main div.contact-info p#go-to:hover {
  font-weight: 300;
}

@media only screen and (min-width: 800px) {
  main div#main-img div.fir-img-cont {
    font-size: 1.5em;
  }

  main div#main-img div.sec-img-cont {
    font-size: 1.5em;
  }

  main div.contact-info {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
  }

  main div.contact-info div.info-box {
    display: flex;
    flex-direction: column;
  }

  main div.contact-info div.goto-box {
    display: flex;
    margin-left: 4em;
    margin-top: 4em;
  }
}
