:root {
  /* colors */
  --logoBlue-color: #016297;
  --lightBlue-color: #dff2f7;
  --darkBlue-color: #252647;
  --logoGreen-color: #a4cb6a;
  --lightGreen-color: #dceac6;
  --darkGreen-color: #00935e;
  --mainBlack-color: #2e3133;
  --backgroundWhite-color: #ffffff;
  --pointOrange-color: #e37e3d;
  --darkGrey-color: #757575;
  --lightGrey-color: #c9d0d6;

  /* fonts */
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Prompt", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--primary-font);
}

/* header */
header {
  color: var(--darkGrey-color);
  /* display: flex; */
  /* border-bottom: 1px solid var(--lightGrey-color); */
  /*   justify-content: space-between; */
}

header div#logo-bar {
  display: flex;
  justify-content: space-between;
}

header div#logo-img img {
  width: 10em;
  margin: 0.625em;
}

header div#menu-icon i {
  margin: 0.625em;
}

header div#menu-icon i:hover {
  cursor: pointer;
}

header nav {
  display: none;
  text-align: center;
}

header nav ul li {
  padding: 0.625em;
  font-size: 1em;
}

header nav ul li:hover {
  background-color: var(--logoGreen-color);
}

header li a {
  font-weight: 500;
  text-decoration: none;
  color: var(--darkGrey-color);
}

/* main */
h1 {
  color: var(--logoGreen-color);
}

/* footer */
footer {
  font-family: var(--secondary-font);
  color: var(--darkGrey-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 13px;
}

footer h4.follow {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 15px;
}

footer ul {
  display: flex;
  margin: auto;
  padding: 10px;
}

footer ul li a {
  margin: 10px;
  color: var(--darkGrey-color);
}
